@model Calischool.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}



<hr />




  <div class=" container card bg-primary border border-primary border-top-0 border-bottom-0 rounded-left rounded-right" style="width:700px" >
      <div class="card-body row">
          <div class="col-lg-4 text-center">
			  <section><i class="fa fa-paper-plane-o" aria-hidden="true"></i></section>
			  <div>
				  <h4>welcome</h4>
				  <p>
					  You are 30 seconds away from earnimg your own money!
				  </p>
			  </div>
          </div>
		  <div>
			  <form asp-action="Register">

				 <div class="row">
	    			<div class="col-lg-3 col-sm-5">
	    				<div class="form-group">
							<label asp-for="FirstName" class="control-label"></label>
							<input asp-for="FirstName"class="border form-control border-primary" placeholder="First Name*"  />
							<span asp-validation-for="FirstName" class="text-danger"></span>
						
						</div>		
	    			</div>
					<div class="col-lg-3 col-sm-5">
	    				<div class="form-group">
							<label asp-for="LastName" class="control-label"></label>
							<input asp-for="LastName"class="border form-control border-primary" placeholder="Last Name*" />
							<span asp-validation-for="LastName" class="text-danger"></span>
						</div>		
	    			</div>
	    			<div class="col-lg-3 col-sm-5">
	    				<div class="form-group">
							<label asp-for="Email" class="control-label"></label>
							<input asp-for="Email"class="border form-control border-primary"placeholder="your Email*" /> 
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>		
	    			</div>
	    		</div>
				<div class="row">
	    			<div class="col-lg-3 col-sm-5">
	    				<div class="form-group">
	    					<label asp-for="Password" class="control-label"></label>
							<input asp-for="Password"class="border form-control border-primary" placeholder="your Password*" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
	    			</div>
					<div class="col-lg-3 col-sm-5">
	    				<div class="form-group">
							<label asp-for="PhoneNumber" class="control-label"></label>
							<input asp-for="PhoneNumber"class="border form-control border-primary" placeholder="your Phone Number*" /> 
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>		
	    			</div>
	    			<div class="col-lg-3 col-sm-5">
	    				<div class="form-group">
	    					<label asp-for="Gender"> Gender:</label>
							<select  class="border form-control border-primary" name="Gender">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="other">other</option>
							</select>
						</div>
	    			</div>
				</div>
				
	    			
					
	    		
				
	    			
				
				  <div  class="checkbox text-center">
					  <button type="submit"class="border text-white w-50 badge-pill border-primary bg-primary">Create</button>
				  </div>
			  </form>
		  </div>
      </div>

 </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
