@model Calischool.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_Layout.cshtml";
 
}







  <div class=" container cardreg  border border-primary h-100 " @*style="height:500px;"*@ >
	   @if (Model != null)
       {
            if (Model.ErrorHappened)
            {
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Message:</strong> <b> @Model.Message   </b>
                </div>
            }
            else
            {
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Message:</strong> <b>  @Model.Message  </b>
                </div>
            }
       }
      <div class="card-body row">
          <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 col-xl-4 text-center">
			 <div><i class="bi bi-laptop" style="font-size: 150px; color:white;"></i></div>
			  <div class="text-white">
				  <h3>welcome</h3><br /><br />
				  <p>
					  You are 30 seconds away from earnimg your own money!
				  </p>
			  </div>
			   <div  class=" text-center">
				   <a class="border text-white w-50 badge-pill border-primary bg-primary" asp-area="" asp-controller="Account" asp-action="Login">Already A Member</a>
			   </div>
			 
          </div>
		  <div class="col-sm-4 col-xs-4 col-md-8 col-lg-8 col-xl-8 bg-light py-4 mb-4  register " >
			    

			  <div class="bg-primary text-white text-center reg1">
				  <h2>REGISTRATION FORM</h2>
			  </div>
			  <form asp-action="Register">
				  <div class="row reg">
	    			<div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5 mt-5">
	    				<div class="form-group">
							<input asp-for="FirstName"class="border form-control border-primary" placeholder="First Name*"  />
							<span asp-validation-for="FirstName" class="text-danger"></span>
						
						</div>		
	    			</div>
					<div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5 mt-5 ">
	    				<div class="form-group">
							<input asp-for="LastName"class="border form-control border-primary" placeholder="Last Name*" />
							<span asp-validation-for="LastName" class="text-danger"></span>
						</div>		
	    			</div>
	    		</div>
				<div class="row reg">
					<div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5 ">
	    				<div class="form-group">
							<input asp-for="Email"class="border form-control border-primary"placeholder="your Email*" /> 
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>		
	    			</div>
	    			<div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5 ">
	    				<div class="form-group">
							<input  type="password" asp-for="Password"class="border form-control border-primary" placeholder="4-6 character password" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
	    			</div>
				</div>
				<div class="row reg">
					<div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5">
	    				<div class="form-group">
							<input asp-for="PhoneNumber"class="border form-control border-primary" placeholder="your Phone Number*" /> 
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>		
	    			</div>
	    			<div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5">
	    				<div class="form-group">
							<select  class="border form-control border-primary" name="Gender">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="other">other</option>
							</select>
						</div>
	    			</div>
				</div>
				  <div  class="checkbox text-center mb-3 regbtn">
					  <button type="submit"class="border text-white w-50 badge-pill border-primary bg-primary">Register</button>
				  </div>
			  </form>
		  </div>
      </div>

 </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
