@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <h2 class="text-light">Welcome to Bivisoft Academy, School of Technology.</h2>
      <p> 
          Departments in the School of Technology provide education of outstanding quality at the undergraduate, postgraduate and professional-development levels, producing high-calibre graduates who can play leading roles in their chosen careers. 
          Our staff and students are selected on intellectual merit, regardless of gender, race and disabilities.
          The School seeks to achieve impact through education, research, and by co-developing solutions with our industry partners to real-world commercial and societal problems.
      </p>
      
        
</div >

<div class="container">
    <h2 class="text-light">Our Vision</h2>
    <p>Our vision is to create a better everyday life for many people.” That's aspirational, short and to the point. More than that, it sets the tone for the company and makes it clear that they're in the market to offer low-priced good furnishings that suit everyone's lifestyle.</p>
</div>

<div class="container">
    <h2 class="text-light">Our Mission</h2>
      <p>bivisoft cares for your tomorrow
       <br>To serve customers with integrity by being loyal to them, the company, and ourselves. To give superior customer service consistently with a happy relentless attitude while standing within an affordable budget for families.” “We aim at providing the finest services to our clients at industry competitive prices.</p>
</div>