@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



 <div class="container-fluid p-0 m-0" >

        <div class="row">

             <div class="col-lg-3 col-sm-10 p-0 m-0"> 
                <div class="card">
                    <div class="card-header bg-primary">
                        <h2 class="text-light">Our Mission</h2>
                    </div>
                    <div class="card-body">
                        <p>bivisoft cares for your tomorrow
                            <br>To serve customers with integrity by being loyal to them, the company, and ourselves. To give superior customer service consistently with a happy relentless attitude while standing within an affordable budget for families.” “We aim at providing the finest services to our clients at industry competitive prices.</p>
                    </div>
                </div>
             </div>

           <div class="col-lg-6 col-sm-10 w-40%" style="padding: 0px;">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                      <!-- Indicators -->
                      <ul class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                      </ul>
                  
                  <!-- The slideshow -->
                      <div class="carousel-inner">
                            <div class="carousel-item active" style="overflow: hidden;">
                                 <img src="~/FirstProject/images/school.jpg" alt="school" width="100%" height="400px">
                            </div>
                            <div class="carousel-item">
                                <img src="~/FirstProject/images/school2.jpg" alt="school" width="100%" height="400px">
                            </div>
                            <div class="carousel-item">
                                <img src="~/FirstProject/images/school3.jpg" alt="school" width="100%" height="400px">
                            </div>
                      </div>
                  
                  <!-- Left and right controls -->
                      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                      </a>
                </div>
           </div> 

            <div class="col-lg-3 col-sm-10 p-0 m-0" style="padding: 0px; margin-left: -2px;">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h2 class="text-light">Our Vision</h2>
                    </div>
                    <div class="card-body">
                        <p>Our vision is to create a better everyday life for many people.” That's aspirational, short and to the point. More than that, it sets the tone for the company and makes it clear that they're in the market to offer low-priced good furnishings that suit everyone's lifestyle.</p>
                    </div>
                </div>
             </div>  
            
        </div>
 </div>
    <!--new code-->
    <!-- <div class="container mt-3"> -->

<!-- <h2>Carousel</h2> -->


   
    <br>
    <!-- first card-->
    <div class="container-fluid col-sm-10">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h2 class="text-light">Welcome to Bivisoft Academy, School of Technology.</h2>
                    </div>
                    <div class="card-body">
                        <p> Departments in the School of Technology provide education of outstanding quality at the undergraduate, postgraduate and professional-development levels, producing high-calibre graduates who can play leading roles in their chosen careers. 

                            Our staff and students are selected on intellectual merit, regardless of gender, race and disabilities.

                            The School seeks to achieve impact through education, research, and by co-developing solutions with our industry partners to real-world commercial and societal problems.
                        </p>
                    </div>
                    
                </div>
    </div> 
    <br>
    <hr>
    <!-- first card-->
     <div class="container-fluid  row">
            <div class="card col-lg-4 col-sm-10">
                <div class="card-header bg-primary">
                    <h2 class="text-light text-center">HTML</h2>
                </div>
                <div class="card-body">
                    <img src="~/FirstProject/images/bivi.jpg" class="w-100 h-100" />
                    <p>bivisoft cares for your tomorrow</p>
                </div>
                <div class="card-footer">
                    <a href="#"><h2 style="text-align: center;">Html programme</h2></a>
                </div>
            </div>
            <div class="card col-lg-4 col-sm-10">
                
                <div class="card-header bg-primary">
                    <h2 class="text-light text-center">CSS</h2>
                </div>
                <div class="card-body">
                        <img src="~/FirstProject/images/css.jpg"class="w-100 h-100" />
                    <p>bivisoft cares for your tomorrow</p>
                </div>
                <div class="card-footer">
                    <a href="#"><h2 style="text-align: center;">Css programme</h2></a>
                </div>
               
            </div>
            <div class="card col-lg-4 col-sm-10">
                <div class="card-header bg-primary">
                    <h2 class="text-light text-center">Bootstrap</h2>
                </div>
                <div class="card-body">
                        <img src="~/FirstProject/images/bootstrap.png" class="w-100 h-100"/>
                    <p>bivisoft cares for your tomorrow</p>
                </div>
                <div class="card-footer">
                    <a href="#"><h2 style="text-align: center;">bootstrap programme</h2></a>
                </div>
            </div>
     </div><br><hr>
      
      <div class="container-fluid  row">
            <div class="card col-lg-4 col-sm-10">
                <div class="card-header bg-primary">
                    <h2 class="text-light text-center">Javascript</h2>
                </div>
                <div class="card-body">
                        <img src="~/FirstProject/images/jv.png"class="w-100 h-100" />
                    <p>bivisoft cares for your tomorrow</p>
                </div>
                <div class="card-footer">
                    <a href="#"><h2 style="text-align: center;">Javascript programme</h2></a>
                </div>
            </div>
            <div class="card col-lg-4 col-sm-10">
                <div class="card-header bg-primary">
                    <h2 class="text-light text-center">Jquery</h2>
                </div>
                <div class="card-body">
                        <img src="~/FirstProject/images/featured_jquery.jpg"class="w-100 h-100" />
                    <p>bivisoft cares for your tomorrow</p>
                </div>
                <div class="card-footer">
                    <a href="#"><h2 style="text-align: center;">Jquery programme</h2></a>
                </div>
            </div>
            <div class="card col-lg-4 col-sm-10">
                <div class="card-header bg-primary">
                    <h2 class="text-light text-center">Asp.Net MVC</h2>
                </div>
                <div class="card-body">
                        <img src="~/FirstProject/images/img1.jpeg" class="w-100 h-100"/>
                    <p>bivisoft cares for your tomorrow</p>
                </div>
                <div class="card-footer">
                    <a href="#"><h2 style="text-align: center;">Dot Net MVC programme</h2></a>
                </div>
            </div>
  </div><br> <hr>
            
  <div class="container-fluid  row">
             <div class="card col-lg-6 col-sm-10 border-right border-primary ">
                 <p> To apply for one of our study programme, complete our easy online application from confirming whether you are qualified to apply. </p>
                 <div style="margin-left: 50%">
                    <a class="nav-link btn btn-primary text-white w-50 0ffset-25" asp-area="" asp-controller="Account" asp-action="Register">Apply Now</a>
                 </div>
                 
             </div>
             <div class="card col-lg-6 col-sm-10">
                 <h3>About Bivisoft</h3>
                 <P>Bivisoft is founded on the philsophy that knowledge should be propagated and disseminated to individuals without let or hindrance. Teaching and research would be anchored on the needs of the nigerian and international society genenrally. The future begins here.</P>
             </div>
   </div>